# Keep our version always during merges

# Config files
config/* merge=ours

# Asset
web/*

# GitHub workflow files
.github/* merge=ours

# Main documentation / release files
README.md merge=ours
goreleaser.yml merge=ours
