#*.css linguist-detectable=false
#*.js linguist-detectable=false
public/ linguist-documentation=true
vendor/ linguist-vendored=true
#ui/     linguist-documentation=true

# Keep our version always during merges

# Asset/config
config/* merge=ours
web/* merge=ours

# Automation/workflow files
.github/* merge=ours
goreleaser.yml merge=ours

# Documents
README.md merge=ours
LICENSE merge=ours
