# Keep our version always during merges

# Asset/config
config/* merge=ours
web/* merge=ours

# Automation/workflow files
.github/* merge=ours
goreleaser.yml merge=ours

# Documents
README.md merge=ours
LICENSE merge=ours