header .search-wrap {
    --underlay-blur: 20px;
    
    display: flex;
    padding: var(--searchbar-pd, 0);

    background: var(--searchbar-bg, transparent);
    border-radius: var(--searchbar-brdr-rad, var(--radius-s));
}
header .searchbar {
    display: flex;
    width: min(var(--searchbar-x, fit-content));
    align-items: center;
}
header .serachbar:has(.searchbar-input:focus, .searchbar-form:focus) {
    --searchbar-x: 150px;
    width: 150px;
}

header .searchbar-form {
    display: var(--searchbar-form-display, none);
    flex-direction: row;
    margin: 0 0 0 .725em;
}

header .searchbar-input {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
	background: transparent;
    font-size: .875em;
}
/* -remove input clear icon */
/* .search-wdgt-input[type="search"]::-webkit-search-cancel-button, */
.searchbar-input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
header .search-wrap .searchbar-input:is([type="text"]::placeholder,[type="text"]:focus){
    outline: none;
    background: transparent;
}
header .search-wdgt {
    z-index: 2000;
    position: fixed;
    pointer-events: none;
    overflow: hidden;
    
    opacity: 0;
    width: min(var(--search-wdgt-x, 80%, 100%));
    
    left: 50%; top: 9%;
    transform: translate(-50%, -50%) scale(.975);

    background: var(--signuplogin-bg, var(--bg));
    border-radius: var(--search-wdgt-brdr-radius, 50px);
    border: 1px solid var(--colr-divider);

    transition: .12s ease;
}
body:has(#id-search-wdgt-btn:checked) .search-wdgt {
    opacity: 1;
    pointer-events: initial;
    transform: translate(-50%, -50%) scale(1);
    transition: .08s ease;
}
header .search-wdgt-form {
    display: flex;
    align-items: center;
    padding-inline: .8em 1rem;
    background: transparent;
}
header .search-wdgt .search-icon {
    --icon-mr: 0 2em;
    --icon-svg-z: 2em;
    --icon-bg: transparent;
    width: 1.2em;
}
header .search-wdgt .search-wdgt-input {
    width: 100%;
    padding-block: 1em;
    background: transparent;
}
header .search-wrap input:-webkit-autofill,
header .search-wrap input::selection {
    background-color: transparent !important;
    -webkit-text-fill-color: inherit !important;
}

header .search-wrap input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px #111 inset !important;
    -webkit-text-fill-color: #eee !important;
    caret-color: white;
}

.search-wdgt-input[type="search"]::-webkit-search-cancel-button {
}

:root{
    --searchbar-x: unset;
}
@media screen and (min-width: 680px) {
    :root{
        --searchbar-x: 7.5em;
        --searchbar-pd: 0.5em 0.75em;
        --searchbar-bg: var(--bg-05);
        --searchbar-brdr-rad: 50em;
        --searchbar-form-display: flex;
        --search-wdgt-x: 450px;
    }
    header .search-wrap {
        --icon-z: 1em;
        --icon-x: 1.2em;

        --icon-bg: transparent;
        --icon-hov-bg: transparent;
        --icon-active-bg: transparent;
        --icon-active-outln-opacity: 0;
    }
    header .search-wrap:focus-within {
        outline: none;
        box-shadow: inset 0 0 0 1px var(--colr-outln);
        --icon-active-brdr-opacity: 0;
    }
}