/* Static vars */
:root {
    --accent-h: 258;
    --accent-s: 88%;
    --accent-l: 66%;
    --accent-h: 76;
    --accent-s: 76%;
    --accent-l: 53%;

    --shadow-s: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
    --shadow-m: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    --shadow-l: 0 10px 15px -3px #7c7c7c1a, 0 4px 6px -2px #6666660d;
    /* mix-blend-mode: exclusion; */

    --selection-colr: inherit;
    --selection-bg: hsla(var(--colr-accent-hsl), .8);
    --selection-bg: var(--colr-accent);

    --scrollbar-bg: rgba(var(--mono-rgb), 0.05);
    --scrollbar-bg: transparent;
    --scrollbar-thumb-bg: rgba(var(--mono-rgb), 0.1);
    --scrollbar-hov-thumb-bg: rgba(var(--mono-rgb), 0.2);

    --pre-colr: #d4d4d4;

    --signuplogin-submit-colr: #3b57e3;
    --signuplogin-submit-colr: #2e6edf;
    --signuplogin-input-focus-brdr-colr: var(--signuplogin-submit-colr);

    --input-brdr-colr: #4040408f;
}