{{ define "prtl/header.action.sidemenu" }}
<section class="header-sidemenu-wrap">

    <input type="checkbox" id="id-header-sidemenuOpen-btn" class="underlay-toggle-btn"
        onclick="toggleUnderlay('header-sidemenu-underlay')">
    <label for="id-header-sidemenuOpen-btn" class="icon" tabindex="0" title="Menu">
        <svg width="20px" class="feather feather-menu" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <line x1="3" x2="21" y1="12" y2="12" />
            <line x1="3" x2="21" y1="6" y2="6" />
            <line x1="3" x2="21" y1="18" y2="18" />
        </svg>
    </label>
</section>
{{ end }}

{{ define "prtl/header.action.sidemenu.widget" }}


<section class="header-sidemenu-widget-wrap">
    <label for="id-header-sidemenuOpen-btn" class="underlay" data-name="header-sidemenu-underlay" title="Close"></label>
    
    <div class="header-sidemenu-widget">
        <div class="header-sidemenu-head">

            <a href="/#" class="brand" cntnt-src="/res/static/org/logo-wordmark-current-colr.svg"></a>

            <label for="id-header-sidemenuOpen-btn" class="icon" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </label>

        </div>

        <ul class="menu">
            {{ range .P.NavMenu }}
            {{ if eq .Label $.P.Web.Menu }}
            <a href="{{ .URL }}" class="menu-item" data-current>{{ .Label }}</a>
            {{ else }}
            <a href="{{ .URL }}" class="menu-item">{{ .Label }}</a>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}